{% extends 'base.html.twig' %}


{% block title %}Blog passe-temps
{% endblock %}

{% block body %}

	{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}

	{% if currentPath == "/post/tag" %}
		{% include "_jumbotron.html.twig" with posts[0] ?  {tag : posts[0].tags[0].name }  %}
	{% elseif posts.getTotalItemCount > 0 %}
		{% include "_jumbotron.html.twig" with posts[0] ?  {category : posts[0].categories.name }  %}
	{% else %}
		{% include "_jumbotron.html.twig" with {category : category.name }  %}
	{% endif %}

	<section id="lastPost" class="bg-light page-section">

		<div class="container contenedor  text-center">
			<div class="row">
				{% if posts.getTotalItemCount > 0 %}
					{% include "blog/post/_postLoop.html.twig" with {posts:posts} %}
				{% else %}
					<h3>Il n'y a pas de post pour le moment, mais ça va venir !
					</h3>
				{% endif %}
			</div>
			<div class="pagination justify-content-center">
				{{ knp_pagination_render(posts) }}
			</div>
		</div>

	</section>
{% endblock %}
