{% extends 'base.html.twig' %}


{% block title %}Blog passe-temps
{% endblock %}

{% block body %}

	{% include "_jumbotron.html.twig" with posts[0] ?  {category : posts[0].categories.name }  %}
	<section id="lastPost" class="bg-light page-section">
		<div class="container-fluid ">
			<div class="row">
				<div class="col-12">
					<ul class="grid cs-style-2">
						{% include "blog/post/_postLoop.html.twig" with {posts:posts} %}
					</ul>
					<div class="paginationDiv justify-content-center">
						{{ knp_pagination_render(posts) }}
					</div>
				</div>
			</div>

		</div>
	</section>


{% endblock %}
