<header class="masthead">
	<div class="container h-100">
		<div class="row h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="text-uppercase text-white font-weight-bold">Bienvenue sur mon Blog</h1>
				<hr class="divider my-4"/>
			</div>
			<div class="col-lg-8 align-self-baseline">
				{% if category is defined %}
					<p class="text-white mb-5 font-italic font-weight-light text-left">Catégorie:
						{{category}}</p>
				{% else %}
					<p class="text-white mb-5">Je parlerais ici, de mes passe-temps malgrès ma fibro, c'est eux qui me permette de tenir</p>
				{% endif %}
			</div>
		</div>
	</div>
</header>
