<!DOCTYPE html>
<html class=" js no-touch">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Blog passe-temps
			{% endblock %}
		</title>
		<link rel="icon" href="{{ "/images/favicon.ico" }}"/>
		{{ encore_entry_link_tags('app') }}

	</head>

	<body>
		{{ render(controller('App\\Controller\\Blog\\NavbarController::navbar')) }}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
		{{ encore_entry_script_tags('app') }}


	</body>
</html>
