{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
	<div class="jumbotron jumbotron bg-cover" style="background-image: url({{vich_uploader_asset(post.categories, 'jumbotronFile')}})">

		<div class="overlay"></div>
		<div class="container">
			<h1 class="text-white">{{post.title}}</h1>
			<span class="text-white">{{post.createdAt | date ('m/d/Y')}}</span>
		</div>
	</div>

	<div class="container">
		{% autoescape %}
			{{ post.content|raw }}
		{% endautoescape %}
	</div>
{% endblock %}
